.bar:hover {
    opacity: 0.66;
    color: darkblue;
    font-size: 20px;
}

body {
	margin: 0px;
	overflow: hidden;
}

rect {
	fill: royalblue;

}

.tick {
    font-size: 15px;
}

.axis-label {
	font-size: 30px;
	fill: #29100d
}

