body {
	margin: 0px;
	overflow: hidden;
}

rect {
	fill: steelblue
}

text {
	font-size: 2em;
	font-family: sans-serif;
}

.tick text {
	fill: #633f5d
}

.tick line {
	stroke: #C0c0BB
}

.axis-label {
	font-size: 3.5em;
	fill: #8e8883
}